/* ---- reset ---- */
* {
  box-sizing: border-box;
  margin: 0;
}

canvas {
  display: block;
  vertical-align: top;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #dd2476;
  background-image: -webkit-linear-gradient(left bottom, #ff512f, #dd2476);
  background-image: linear-gradient(left bottom, #ff512f, #dd2476);
}

/* ---- particles.js container ---- */
.center-div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.texto {
  font-family: 'poppins';
  font-size: 34px;
  font-weight: 100;
  color: #fff;
  text-align: center;
}
.texto span {
  font-weight: 400;
}

.small {
  margin-top: 20px;
  font-size: 20px;
}

a {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
}
