
/* ---- reset ---- */
* {
    box-sizing : border-box;
    margin     : 0;
}

canvas {
    display        : block;
    vertical-align : top;
}

/* ---- particles.js container ---- */
#particles-js {
    position         : absolute;

    height           : 100vh;
    width            : 100%;

    background-color : rgb(221, 36, 118);
    background-image : linear-gradient(left bottom, rgb(255, 81, 47), rgb(221, 36, 118));
}
/* ---- particles.js container ---- */


// texto centro
.center-div {
    position        : absolute;
    display         : flex;
    z-index         : 10;

    height          : 100vh;
    width           : 100%;

    align-items     : center;
    justify-content : center;
}

.texto {
    font-family : 'poppins';
    font-size   : 34px;
    font-weight : 100;
    color       : #fff;
    text-align  : center;

    span {
        font-weight : 400;
    }
}

.small {
    margin-top : 20px;
    font-size  : 20px;
}

a {
    display : inline-block;

    margin  : 0 5px;

    color   : #fff;
}